{
  "extends": ["airbnb", "airbnb-typescript", "airbnb/hooks", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["__typename"] }],
    "@typescript-eslint/no-unused-expressions": ["error", { "allowTaggedTemplates": true }],
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-wrap-multilines": 0,
    "react/jsx-props-no-spreading": 0,
    "import/prefer-default-export": 0,
    "react/require-default-props": 0,
    "@typescript-eslint/camelcase": 0,
    "react/destructuring-assignment": 0,
    "react/prop-types": 0
  }
}
